*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #584040;
    color: white;
}
.container{
    border: 2px solid white;
    width: 920px;
    height: 280px;
    margin: 30px auto;
    background: linear-gradient(#f48c1d, #cbb9ae);
    position: relative;
}
.dino{
    border: 2px solid white;
    width: 84px;
    height: 84px;

    position: absolute;
    bottom: 22px;
    left: 42px;

    background: url('./img/dino.png') ;
    /* background-size: 336px 84px; */
    /* background-position-x: 0px; */
}
.dino-running{
    animation: dinoAnimation 0.25s steps(2) infinite;
}

@keyframes dinoAnimation{
    from{
        background-position-x: -84px;
    }
    to{
        background-position: -252px;
    }
}
.floor{
    border: 2px solid white;
    width: 1280px;
    height: 42px;

    position: absolute;
    bottom: 0;
    left: 0;

    background: url('./img/suelo.png');
    /* background-size: 50% 42px; */
}
.score{
    border: 2px solid white;
    width: 100px;
    height: 30px;

    position: absolute;
    top: 5px;
    right: 15px;

    color: #584040;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}